/configuration.json
/configuration2.json
/configuration_old.json
/vendor
/keys
/bin/*
!/bin/console
/export/
.env
.env.dev
/backup
.DS_Store
.ddev
.idea
public/.DS_Store
/var

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
