<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Crowdin TYPO3 Status {date}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex" />
    <meta name="version" content="2.0.2">
</head>
<body>
<header>
    <div class="page-topbar">
        <div class="page-topbar-inner">
            <typo3-universe active="">
                <div style="display: block; height: 44px; background-color: #313131;"></div>
            </typo3-universe>
        </div>
    </div>
    <div class="page-header">
        <div class="page-header-inner">
            <div class="d-flex flex-wrap">
                <div class="logo-wrapper">
                    <a class="logo" href="https://localize.typo3.org" title="TYPO3 Localization">
                        <img alt="TYPO3 Logo" class="logo-image" src="https://cdn.typo3.com/typo3documentation/theme/typo3-docs-theme/0.30.4/img/typo3-logo.svg" width="484" height="130">
                    </a>
                </div>
                <div class="align-self-center order-lg-2 order-last">
                    <div class="toc-header">
                        <div class="toc-title pe-3">
                            <a class="toc-title-project" href="#">Crowdin TYPO3 Status</a>
                        </div>
                        <div>
                            {date}
                        </div>
                    </div>
                </div>
                <div class="ms-auto order-lg-3 d-flex">
                    <div class="menu-search-wrapper">
                        <a href="https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/ApiOverview/Internationalization/TranslationServer/Crowdin.html">Documentation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<span id="ag-grid"></span>
<footer class="page-footer">
    <div class="frame frame-ruler-before frame-background-dark">
        <div class="frame-container">
            <div class="footer-meta">
                <div class="footer-meta-copyright">
                    © since 2004 by the TYPO3 contributors
                </div>
                <ul class="footer-meta-navigation">
                    <li><a href="https://typo3.org/legal-notice" rel="nofollow" target="_blank" title="Legal Notice">Legal Notice</a></li>
                    <li><a href="https://typo3.org/privacy-policy" rel="nofollow" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.typo3.com/typo3infrastructure/universe/dist/webcomponents-loader.js"></script>
<script type="module" src="https://cdn.typo3.com/typo3infrastructure/universe/dist/typo3-universe.js" async></script>
<link href="https://cdn.typo3.com/typo3documentation/theme/typo3-docs-theme/0.30.4/css/theme.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@34.3.1/dist/ag-grid-community.min.js?t=1762865519"></script>
<script src="main.js"></script>
<link rel="stylesheet" href="styles.css" />
</body>
</html>
